#body_container {width: 90%; margin-left: auto; margin-right: auto; margin-bottom: 5px;}
#blog_content {color: white; font-family: 'Quattrocento Sans', Arial, Helvetica, Sans-Serif; width: 75%; padding-bottom: 10px;}
#blog_content a {color: white;}

.italic {font-style: italic;}

ul.tagList {list-style-type: none;}
	ul.tagList li.tag {font-family: 'Quattrocento Sans', Arial, Helvetica, Sans-Serif; color: white; font-size: 14px; margin: 0px 0px 5px 0px;}
		ul.tagList li.tag a.postTitle {font-size: 18px;}

#sidebar {float: right; color: white; font-family: 'Quattrocento Sans', Arial, Helvetica, Sans-Serif; width: 25%; max-width: 225px; z-index: 1000;}
#sidebar {margin: 10px;}
#sidebar .sidebar-title {font-weight: bold;}
#sidebar section ul {list-style: none; margin-left: 0px;}
#sidebar section a {color: white; font-size: 16px;}
#sidebar section {margin: 0px 0px 20px 0px}
#sidebar section h1 {font-weight: bold; font-size: 18px;}
#sidebar section h1 span.hint {margin-left: 5px;}
#sidebar .postList li {margin-left: 10px;}
#sidebar section ul.tagCloud li {float: left;}

.post {color: white; font-family: 'Quattrocento Sans', Arial, Helvetica, Sans-Serif; font-size: 16px; margin: 25px 0px; width: 100%;}
.post .title {font-size: 25px; font-weight: bold;}
.post .title a {text-decoration: none;}
.post .title a:hover {text-decoration: underline;}
.post .author, .post .tags {font-size: 14px;}
.post .content p {margin: 10px 0px;}
.post div.tags, .post ul.inlineList {display: inline;}
.post .tags ul.inlineList {list-style-type: none;}
.post .tags ul.inlineList li {float: left; margin-right: 4px;}

.comment {margin: 5px 0px 5px 0px;}
.comment .cid {font-size: 14px;}
.comment .author {font-size: 14px;}
.comment .time {font-size: 12px;}
span.pending {color: red;}

.grid-view table.items {color: black; width: 100%;}
#blog_content table.items a {color: black;}
#blog_content table label {padding: 0px 5px 0px 5px;}

/* syntax highlighting */
span[class*="hl-comment"] {color: darkgray;}
span[class*="hl-string"], span[class*="hl-quotes"] {color: violet;}
span[class*="hl-default"] { color:lightgray; }
div[class*="hl-code"] { color:white; font-size: 14px;}
span[class*="hl-brackets"] { color:yellow; }
span[class*="hl-comment"] { color:gray; font-style:italic; }
span[class*="hl-builtin"] { color:Teal; }
span[class*="hl-reserved"] { color:green; font-weight:700; }
span[class*="hl-var"] { color:#6DC2ED; }
span[class*="hl-special"] { color:Navy; }
span[class*="hl-number"] { color:Maroon; }
div[class*="hl-main"] { font-family:'Courier New',Courier,monospace; font-weight:400; font-size:14px; }
span[class*="hl-gutter"] { background-color:#999; color:#FFF; }
table[class*="hl-table"] { font-family:courier; font-size:14px; border:solid 1px #505050; }
span[class*="hl-inlinetags"] {color: yellow;}

/* Pagination links */
div#blog_content div.list-view {position: relative;}
div#blog_content div.pager {position: relative; margin: 0px; text-align: right; top: -10px; font-size: 13px;}
div#blog_content div.pager ul.yiiPager {list-style-type: none; float: right; display: inline; line-height: 100%;}
div#blog_content div.pager ul.yiiPager li {display: inline; border: none; padding: none; padding: 0px 3px 0px 3px;}
div#blog_content div.pager ul.yiiPager li a {text-decoration: none;}
div#blog_content div.pager ul.yiiPager li.page a {text-decoration: underline;}
div#blog_content div.pager ul.yiiPager li.selected a {text-decoration: none;}
