<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
	<head>
		<title>Corey Watts{% if page.title %} | {{ page.title }} {% endif %}</title>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta name="keywords" content="corey watts, web developer, php, lamp, linux, web server, jquery, mysql, ajax, orange county, los angeles, la, oc, web architect, westmont college, bachelor of science, bachelors, website, php5, object oriented, model view controller, mvc, framework, computer science, programming, web application, web software, software as a service, saas, software, engineer, passion, blog" />
		<meta name="description" content="{% if page.description %}{{page.description}}{% else %}The personal website, portfolio, and resume of Corey Watts.{% endif %}" />
		<meta http-equiv="content-language" content="en" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="{{ 'screen.css' | asset_path }}" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="topBanner" style="background-color: #{% if page.banner_color %}{{ page.banner_color }}{% else %}C6CCA5{% endif %}">
			<h1 id="bannerText">{% if page.banner_text %}{{ page.banner_text }}{% else %}{{ site.banner_text }}{% endif %}</h1>
		</div>
	
		<div id="navbar">
			<ul class="kwicks kwicks-horizontal" >
				<li id="kwick_1">
					<a class="navInnerLinkContainer" href="/">
					<span class='navTitle'>about me</span><br />
					<span class='navBlurb'>who I am and where I've been</span>
					</a>
				</li>
				<li id="kwick_2">
					<a class="navInnerLinkContainer" href="/resume/">
						<span class='navTitle'>resume</span><br />
						<span class='navBlurb'>my resume and things I've done</span>
					</a>
				</li>
				<li id="kwick_3">
					<a class="navInnerLinkContainer" href="/projects/">
						<span class='navTitle'>projects</span><br />
						<span class='navBlurb'>personal projects I'm involved in</span>
					</a>
				</li>
				<li id="kwick_4">
					<a class="navInnerLinkContainer" href="/blog/">
						<span class='navTitle'>blog</span><br />
						<span class='navBlurb'>a repository for my thoughts</span>
					</a>
				</li>
				<li id="kwick_5">
					<a class="navInnerLinkContainer" href="/contactme/">
						<span class='navTitle'>contact me</span><br />
						<span class='navBlurb'>need to reach me? here you go</span>
					</a>
				</li>
			</ul>
			<div class="clear"></div>
		</div>

