* {padding: 0px; margin: 0px;}
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #fff;
  background: #37302a;
  font: normal 100%/1.4 sans-serif;
  background-color: #1d1e21; 
  position: relative;
}

#topBanner {width: 100%; height: 120px; position: relative;}
#bannerText {color: #333333; font: bold 600%/1.2 "Open Sans", sans-serif; text-align: center; text-shadow: 1px 1px 5px #828181; filter: dropshadow(color=#828181, offx=1, offy=1); width: 100%; margin: 0px auto 0px auto; white-space: nowrap;}

/* Nav stuff */
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .nav-collapse li {
    width: 20%;
    *width: 20%; /* IE7 Hack */
    _width: 19%; /* IE6 Hack */
  }
}

.nav-collapse a {
  color: #37302a;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #37302a;
  padding: 0.7em 1em;
  float: left;

  &:hover {
    color: #37302a !important;
  }
}

#color1 {background: #C6CCA5;}
#color2 {background: #8AB8A8;}
#color3 {background: #6B9997;}
#color4 {background: #54787D;}
#color5 {background: #615145;}

@media screen and (min-width: 480px) {
  .nav-collapse a {
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-right: 1px solid #37302a;
  }
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 480px) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */
.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #fff; /* Edit this to change the icon color */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
}

h1.small {font-size:14px; display:inline; font-weight:300;}

/* Content stuff */
#content {margin-top: 60px; margin-bottom: 50px; text-align: center;}
	#content h1 {font-size: 32px; color: white; margin-top: 5px; margin-bottom: 5px;}
	#content h2 {font-size: 24px; color: white; margin-top: 20px; margin-bottom: 5px; font-weight: 400;}
	#content h3 {font-size: 21px; color: white; margin-top: 5px; margin-bottom: 5px; font-weight: 400;}
	#content p {color: white; font-size: 16px; margin: 0px 0px 20px 0px; font-weight: 300;}
	a {color: white;}
	span.email {color: white; font-size: 35px; margin: 0px;}
ul {font-size: 16px; color: white; font-weight: 300; margin: 5px 0px 5px 0px;}

ul.list {font-size: 16px; color: white; margin-left: 40px; font-weight: 300;}
	ul.list li {margin: 5px 0px 5px 0px; list-style-type: none; }

/* Footer stuff */
#footer {}
#footerTop {border-left: none; border-right: none; border-bottom: none; margin-bottom: 10px; }
.footerText {font-size: 14px; color: gray; text-align: center; font-weight: 300;}
#footer a {color: gray;}

/* Blog stuff */
#body_container {width: 90%; margin-left: auto; margin-right: auto; margin-bottom: 5px;}
#blog_content {color: white; width: 75%; padding-bottom: 10px;}
#blog_content a {color: white;}
#blog_content a.olderPosts {font-size: 35px; text-decoration: none;}
#blog_content a.olderPosts:hover {text-decoration: underline;}

ul.tagList {list-style-type: none;}
	ul.tagList li.tag {color: white; font-size: 14px; margin: 0px 0px 5px 0px;}
		ul.tagList li.tag a.postTitle {font-size: 18px;}

#sidebar {float: right; color: white; width: 25%; max-width: 225px; z-index: 1000;}
#sidebar {margin: 10px;}
#sidebar .sidebar-title {font-weight: bold;}
#sidebar h1 {font-weight: 400; font-size: 18px;}
#sidebar section ul {list-style: none; margin-left: 0px;}
#sidebar section a {color: white; font-size: 16px;}
#sidebar section {margin: 0px 0px 20px 0px}
#sidebar section h1 span.hint {margin-left: 5px;}
#sidebar .postList, #sidebar section ul.tagCloud {font-weight: 300;}
#sidebar .postList li {margin-left: 10px;}
#sidebar section ul.tagCloud li {float: left;}

.post {color: white; font-size: 16px; margin: 25px 0px; width: 100%;}
.post h1.postTitle {font-size: 25px; font-weight: bold;}
#blog_content .post h1 a.title {text-decoration: none; font-weight: 400;}
#blog_content .post h1 a.title:active {text-decoration: none;}
#blog_content .post h1 a.title:hover {text-decoration: underline;}
.post .author, .post .tags {font-size: 14px; font-weight: 300;}
.post .content {font-weight: 300;}
.post .content p {margin: 10px 0px;}
.post .content ul {margin-left: 17px;}
.post div.tags, .post ul.inlineList {display: inline; font-weight: 300;}
.post .tags ul.inlineList {list-style-type: none; font-weight: 300;}
.post .tags ul.inlineList li {float: left; margin-right: 4px; font-weight: 300;}
.post a>img {margin-right: 10px;}

/* General classes */
.right {float: right;}
.left {float: left;}
.bold {font-weight: bold;}
.underline {text-decoration: underline;}
.italic {font-style: italic;}
.indented {margin-left: 10px;}
.clear {clear: both;}

