{% include header.html %}
	<div id="body_container">
		<div id="sidebar">
			<div class="sidebar-content">
				{% include widgets/timeLine.html %}
				{% include widgets/tagCloud.html %}
			</div>
		</div><!-- sidebar -->
		{% for post in site.posts limit 5 %}
		<div id="blog_content">
			<div class="post">
				<div class="title"><a href='{{ post.url }}'>{{ post.title }}</a></div>
				<div class="author">posted by {{ site.first_name }} on {{ post.date | date: "%B %d, %Y" }}</div>
				<div class="content">
					{{ post.content }}
				</div>
				<div class="nav"><span class="bold">Tags</span> {{ post | tags }}</div>
			</div>
		</div><!-- content -->
		{% endfor %}
	</div>
{% include footer.html %}
