<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
	<head>
		<title>Corey Watts{% if page.title %} | {{ page.title }} {% endif %}</title>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta name="description" content="The personal website, portfolio, and resume of Corey Watts." />
		<meta name="keywords" content="corey watts, web developer, php, lamp, linux, web server, jquery, mysql, ajax, orange county, los angeles, la, oc, web architect, westmont college, bachelor of science, bachelors, website, php5, object oriented, model view controller, mvc, framework, computer science, programming, web application, web software, software as a service, saas" />
		<meta http-equiv="content-language" content="en" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/css/screen.css" />
		<link rel="stylesheet" type="text/css" href="/css/blog.css" />
		<link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans|Terminal+Dosis' rel='stylesheet' type='text/css' />
		

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
		<script src="/js/jquery.easing.1.3.js" type="text/javascript"></script>
		<script src="/js/jquery.kwicks-1.5.1.pack.js" type="text/javascript"></script>
		
		<script type="text/javascript">
			$(document).ready(function() {
				$('.kwicks').kwicks({
					max : 220,
					spacing : 5
				});
			});

			// google analytics
  			/*var _gaq = _gaq || [];
  			_gaq.push(['_setAccount', 'UA-30383134-1']);
  			_gaq.push(['_trackPageview']);
			
  			(function() {
    				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();*/

		</script>
	</head>


<!--		case "main/aboutme":
			$bannerColor = "#C6CCA5";
			//$bannerText = "hi. i'm corey.";
			break;
		case "main/resume":
			$bannerColor = "#8AB8A8";
			//$bannerText = "what i've done.";
			break;
		case "main/projects":
			$bannerColor = "#6B9997";
			//$bannerText = "what i'm doing.";
			break;
		case "blog":
			$bannerColor = "#54787D";
			//$bannerText = "what i love.";
			break;
		case "main/contactme":
			$bannerColor = "#615145";
			//$bannerText = "i can haz message?";
			break;
		default:
			$bannerColor = "#C6CCA5";
-->
	
	<body>
		<div id="topBanner" style="background-color: #{% if page.banner_color %}{{ page.banner_color }}{% else %}C6CCA5{% endif %}">
			<h1 id="bannerText">{{ site.banner_text }}</h1>
		</div>
	
		<div id="navbar">
		<ul class="kwicks horizontal" >
			<li id="kwick_1">
				<a class="navInnerLinkContainer" href="/">
				<span class='navTitle'>about me</span><br />
				<span class='navBlurb'>who I am and where I've been</span>
				</a>
			</li>
			<li id="kwick_2">
				<a class="navInnerLinkContainer" href="/resume">
					<span class='navTitle'>resume</span><br />
					<span class='navBlurb'>my resume and things I've done</span>
				</a>
			</li>
			<li id="kwick_3">
				<a class="navInnerLinkContainer" href="/projects">
					<span class='navTitle'>projects</span><br />
					<span class='navBlurb'>personal projects I'm involved in</span>
				</a>
			</li>
			<li id="kwick_4">
				<a class="navInnerLinkContainer" href="/blog">
					<span class='navTitle'>blog</span><br />
					<span class='navBlurb'>a repository for my thoughts</span>
				</a>
			</li>
			<li id="kwick_5">
				<a class="navInnerLinkContainer" href="/contactme">
					<span class='navTitle'>contact me</span><br />
					<span class='navBlurb'>need to reach me? here you go</span>
				</a>
			</li>
		</ul>
		<div style="clear: both;"></div>
		</div>

		<div id="content">
			{{ content }}
		</div>

		<div id="footer">
			<hr id="footerTop" />
			<p class="footerText">This website was built by <a href="http://jekyllrb.com/">Jekyll</a> and was written in <a href="http://www.vim.org/">Vim</a></p>
			<p class="footerText">Copyright &copy; 2013 Corey Watts</p>
		</div>
	</body>
</html>

