{% include header.html %}
	<div id="body_container">
		<div id="sidebar">
			<div class="sidebar-content">
				{% include widgets/timeLine.html %}
				{% include widgets/tagCloud.html %}
			</div>
		</div><!-- sidebar -->
		<div id="blog_content">
			<div class="post">
				<div class="title"><a href='{{ page.url }}'>{{ page.title }}</a></div>
				<div class="author">posted by {{ site.first_name }} on {{ page.date | date: "%B %d, %Y" }}</div>
				<div class="content">
					{{ content }}
				</div>
				{% include widgets/postTagList.html %}
			</div>
		</div><!-- content -->
	</div>
{% include footer.html %}
